* {
    margin: 0rem;
    padding: 0rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: #1641b6;
    width: 100vw;
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
}

header .header1 {
    font-size: 1.6rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header .header2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .header2 ul li {
    list-style: none;
    padding: 1rem;
}

header .header2 ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

.extra {
    width: 100vw;
    height: 0.2rem;
}

.home_main .intro {
    background-color: #86c8df;
    width: 100vw;
    height: 22rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.home_main .intro .intro_pic {
    width: 45vw;
    height: 22rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home_main .intro .intro_pic img {
    width: 35rem;
    height: 17rem;
    display: block;
    margin-left: auto;
    border: 6px solid white;
}

.home_main .intro .intro-info {
    width: 55vw;
    height: 22rem;
    padding: 2.5rem;
    color: white;
}

.home_main .intro .intro-info .I-heading {
    font-size: 2.5rem;
    font-weight: 1rem;
}

.home_main .intro .intro-info .I-info {
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.home_main .intro .intro-info .I-info p {
    line-height: 2rem;
}

.home_main .intro .intro-info .I_button {
    padding-top: 1.5rem;
}

.home_main .intro .intro-info .I_button button {
    width: 7.5rem;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    outline-style: none;
    border: none;
    font-weight: bold;
}

.home_main .intro .intro-info .I_button button:hover {
    color: red;
    border: 1px solid blue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.home_main .some_info {
    width: 100vw;
    height: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.home_main .some_info .s1_main {
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 3rem;
}

.home_main .some_info .s1_main .s1 {
    width: 47vw;
}

.home_main .some_info .s1_main .s1 .s1_h {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 1.5rem;
    padding: 1rem;
}

.home_main .some_info .s1_main .s1 .s1_p {
    font-size: 1.3rem;
}

.home_main .some_info .s1_main .s1 .s1_p p {
    padding: 1rem;
}

.home_main .some_info .s2_main {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home_main .some_info .s2_main .s2 {
    width: 26vw;
    height: 30rem;
    -webkit-box-shadow: 4px 17px 5px grey, 0px -1px 1px grey;
    box-shadow: 4px 17px 5px grey, 0px -1px 1px grey;
}

.home_main .some_info .s2_main .s2 .s2_heading {
    background-color: #1347d4;
    color: white;
    font-size: 1.3rem;
    padding: 1.5rem;
}

.home_main .some_info .s2_main .s2 .latest_news .t1 {
    background-color: #fdfafa;
    padding: 1.5rem;
}

.home_main .some_info .s2_main .s2 .latest_news .t1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home_main .some_info .s2_main .s2 .latest_news .t1 ul li {
    list-style: none;
    padding-left: 0.8rem;
    color: grey;
}

.home_main .some_info .s2_main .s2 .latest_news .t1 ul li img {
    width: 6rem;
    height: 5.2rem;
}

.home_main .some_info .s2_main .s2 .latest_news .t1:hover {
    background-color: #e2e1e1;
}

.about_main {
    width: 100vw;
    height: 35rem;
    color: blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about_main .a1 {
    width: 50vw;
    padding: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about_main .a1 .about_info {
    padding-bottom: 2rem;
    border-bottom: 2px solid blue;
}

.about_main .a1 .about_info1 {
    height: 20rem;
}

.about_main .a1 .about_info1 p {
    padding: 1rem;
    padding-left: 0rem;
    font-size: 1.1rem;
}

.about_main .about_pic {
    width: 27vw;
}

.about_main .about_pic img {
    width: 25rem;
    height: 20rem;
}

.register_main {
    width: 100vw;
    height: 38rem;
    padding-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.register_main .register {
    width: 60vw;
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5rem 0rem 0rem 10rem;
}

.register_main .register .register_heading {
    font-size: 1rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 40rem;
    letter-spacing: 0.1rem;
}

.register_main .register .register_details {
    font-size: 1.3rem;
}

.register_main .register .register_details ul {
    padding: 0.5rem;
}

.register_main .register .register_details ul li {
    list-style: none;
    padding: 0.2rem;
}

.register_main .register .register_details ul li input {
    width: 30rem;
    height: 1.9rem;
}

.register_main .register .register_details ul li button {
    width: 8rem;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    color: white;
    background-color: #0647c0;
}

.register_main .register .register_details ul li button:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 0.5rem;
    color: white;
    background-color: #083b8d;
}

.login_main {
    width: 100vw;
    height: 27rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.login_main .login {
    width: 60vw;
    height: 27rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10rem;
}

.login_main .login .login_heading {
    font-size: 1rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 40rem;
    letter-spacing: 0.1rem;
}

.login_main .login .login_details {
    font-size: 1.3rem;
}

.login_main .login .login_details ul {
    padding: 0.5rem;
}

.login_main .login .login_details ul li {
    list-style: none;
    padding: 0.2rem;
}

.login_main .login .login_details ul li input {
    width: 30rem;
    height: 1.9rem;
}

.login_main .login .login_details .login_btn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.login_main .login .login_details .login_btn ul li {
    list-style: none;
}

.login_main .login .login_details .login_btn ul li button {
    width: 10rem;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    color: white;
    background-color: #0647c0;
}

.login_main .login .login_details .login_btn ul li button:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 0.5rem;
    color: white;
    background-color: #083b8d;
}

.login_main .login .login_details .login_btn ul li #r_btn {
    width: 20rem;
}

.login_main .login .login_details .forget_password p {
    padding: 0.8rem;
    color: grey;
}

.login_main .login .login_details .forget_password p a {
    color: black;
}

.forget_main {
    width: 100vw;
    height: 27rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.forget_main .forget {
    width: 60vw;
    height: 27rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10rem;
}

.forget_main .forget .forget_heading {
    font-size: 1rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 40rem;
    letter-spacing: 0.1rem;
}

.forget_main .forget .forget_details {
    font-size: 1.3rem;
}

.forget_main .forget .forget_details ul {
    padding: 0.5rem;
}

.forget_main .forget .forget_details ul li {
    list-style: none;
    padding: 0.2rem;
}

.forget_main .forget .forget_details ul li input {
    width: 30rem;
    height: 1.9rem;
}

.forget_main .forget .forget_details .forget_btn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.forget_main .forget .forget_details .forget_btn ul li {
    list-style: none;
}

.forget_main .forget .forget_details .forget_btn ul li button {
    width: 10rem;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    color: white;
    background-color: #0647c0;
}

.forget_main .forget .forget_details .forget_btn ul li button:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 0.5rem;
    color: white;
    background-color: #083b8d;
}

.forget_main .forget .forget_details .for_login {
    color: #9b0202;
}

.forget_main .forget .forget_details .for_login p {
    padding: 0.8rem;
}

.forget_main .forget .forget_details .for_login p a {
    color: #9b0202;
    font-weight: bold;
}

.contact_main {
    width: 100vw;
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contact_main .contact {
    width: 60vw;
    height: 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10rem;
}

.contact_main .contact .contact_heading {
    font-size: 1rem;
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 40rem;
    letter-spacing: 0.1rem;
}

.contact_main .contact .contact_details {
    font-size: 1.3rem;
}

.contact_main .contact .contact_details ul {
    padding: 0.5rem;
}

.contact_main .contact .contact_details ul li {
    list-style: none;
    padding: 0.2rem;
}

.contact_main .contact .contact_details ul li input {
    width: 30rem;
    height: 1.9rem;
}

.contact_main .contact .contact_details ul li textarea {
    width: 30rem;
    height: 10rem;
}

.contact_main .contact .contact_details .contact_btn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.contact_main .contact .contact_details .contact_btn ul li {
    list-style: none;
}

.contact_main .contact .contact_details .contact_btn ul li button {
    width: 10rem;
    height: 2.2rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    color: white;
    background-color: #0647c0;
}

.contact_main .contact .contact_details .contact_btn ul li button:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 1.2rem;
    font-weight: 0.5rem;
    color: white;
    background-color: #083b8d;
}

.contact_main .contact .contact_details .contact p {
    padding: 0.8rem;
}

.contact_main .contact .contact_details .contact p a {
    text-decoration: none;
    color: red;
}

.registration_main {
    width: 100vw;
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.registration_main .registration_conform {
    width: 50vw;
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10rem;
}

.registration_main .registration_conform .registration_heading {
    font-size: 1rem;
    padding: 2rem 0rem 1rem 0rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 40rem;
    letter-spacing: 0.1rem;
}

.registration_main .registration_conform .registration_info p {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    padding: 1rem 0rem 4rem 0rem;
}

.login2_main {
    width: 100vw;
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.login2_main .login2_conform {
    width: 50vw;
    height: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10rem;
}

.login2_main .login2_conform .login2_heading {
    font-size: 1rem;
    padding: 2rem 0rem 1rem 0rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    width: 40rem;
    letter-spacing: 0.1rem;
}

.login2_main .login2_conform .login2_info p {
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
    padding: 1rem 0rem 4rem 0rem;
}

.img_main {
    width: 100vw;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.img_main .img_heading {
    letter-spacing: 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.img_main .img_heading .headinggg {
    width: 70vw;
    padding: 3rem 1rem 1rem 0rem;
    color: #00087a;
    border-bottom: 2px solid #00087a;
}

.img_main .img_heading .headinggg h1 {
    font-weight: 400;
}

.img_main .img_container {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.img_main .img_container .img_2nd_con {
    width: 80vw;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.img_main .img_container .img_2nd_con .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2rem;
}

.img_main .img_container .img_2nd_con .image .img {
    font-size: 1.2rem;
    text-align: center;
    border: 1.5px solid #969090;
}

.img_main .img_container .img_2nd_con .image .img img {
    width: 20rem;
    height: 15rem;
}

.img_main .img_container .img_2nd_con .image .img p {
    padding: 1rem;
    color: darkblue;
}

.extra2 {
    width: 100vw;
    height: 0.4rem;
    background-color: grey;
}

.extra2 {
    width: 100vw;
    height: 0.4rem;
    background-color: grey;
}

footer {
    width: 100vw;
    height: 18rem;
    background-color: #1347d4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .f_section {
    width: 10vw;
    height: 14rem;
}

footer .f_section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer .f_section ul li {
    list-style: none;
    padding: 0.5rem;
}

footer .f_section ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

footer .f_section ul li .fh {
    font-size: 1.6rem;
}


/*# sourceMappingURL=travel.css.map */